{% extends 'main/base.html' %}


{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'service:main' %}">Сервис</a></li>
            <li class="breadcrumb-item"><a href="">Загрузка файла с даннами из 1С</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col bg-white">
            <p>Выберите файл с даннами из 1С</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 white">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="file-field input-field">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="file-input" name="file">
                    </div>

                    <div class="form-group">
                        <label for="file_type">Выберите тип файла:</label>
                        <select class="form-control" id="file_type" name="product_type">
                            <option selected value="tecdoc">Текдок</option>
                            <option value="battery">Аккумеляторы FIAMM</option>

                        </select>
                    </div>
                    
                </div>

                {% for storage in storages %}
                    <p>
                        <input class="with-gap" name="storage" type="radio" id="storage{{ forloop.counter }}"
                               value="{{ forloop.counter }}"/>
                        <label for="storage{{ forloop.counter }}">{{ storage }} ({{ storage.email }})</label>
                    </p>
                {% endfor %}





                <button class="btn waves-effect waves-light blue darken-1 center-align" type="submit"
                        name="action">
                    Загрузить
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}