{% extends 'main/base.html' %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'service:main' %}" class="breadcrumb">Сервис</a>
            <a href="" class="breadcrumb">Загрузка файла с даннами из 1С</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>Выберите файл с даннами из 1С</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 white">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="file-field input-field">
                    <div class="btn">
                        <span>Файл</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                {% for storage in storages %}
                    <p>
                        <input class="with-gap" name="storage" type="radio" id="storage{{ forloop.counter }}" value="{{ forloop.counter }}"/>
                        <label for="storage{{ forloop.counter }}">{{ storage }} ({{ storage.email }})</label>
                    </p>
                {% endfor %}





                <button class="btn waves-effect waves-light blue darken-1 center-align" type="submit"
                        name="action">
                    Загрузить
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}