{% extends "postman/base_folder.html" %}
{% load i18n %}
{% load i18n postman_tags %}
{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="/profile/" class="breadcrumb">Личный кабинет</a>
            <a href="/messages/" class="breadcrumb">Сообщения</a>
            <a href="" class="breadcrumb">Архивные</a>
        </div>
    </div>
{% endblock %}


{% block postman_menu %}
    <div class="collection postmenu">{% postman_unread as unread_count %}
        <a href="{% url 'postman:inbox' %}" class="collection-item">{% trans "Входящие" %}
            {% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a>
        <a href="{% url 'postman:sent' %}" class="collection-item">{% trans "Отправленные" %}</a>
        <a href="{% url 'postman:archives' %}" class="collection-item active">{% trans "Архив" %}</a>
        <a href="{% url 'postman:trash' %}" class="collection-item">{% trans "Корзина" %}</a>
        <a href="{% url 'postman:write' %}"
           class="collection-item">{% trans "Новое сообщение" %}</a>
    </div>
{% endblock %}
{% block pm_folder_title %}{% trans "Архивные сообщения" %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_footer_info %}
    <p>{% trans "Сообщения в этой папке никогда не будут удалены. Вы можете использовать эту папку для долгосрочного хранения." %}</p>
{% endblock %}