{% extends "postman/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>{% block pm_folder_title %}{% endblock %}</p>
        </div>
    </div>


    <div class="row white">
        <div class="col s12">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        {% block postman_menu %}{% endblock postman_menu %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="postman">

                            {% autopaginate pm_messages %}
                            {% if invalid_page %}
                                <p>{% trans "Измините, номер страницы указан не верно" %}</p>
                            {% else %}
                                {% if pm_messages %}

                                    <form action="{% block pm_form_action %}{% endblock %}"
                                          method="post">{% csrf_token %}

                                        <table class="table table-avtoresurs bg-light">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">
                                                    <input type="checkbox" id="id_toggle" onClick="toggle(this)">
                                                    <label for="id_toggle"></label>
                                                </th>
                                                {% block pm_sender_header %}
                                                    <th scope="col"><a
                                                            href="{% postman_order_by sender %}">{% trans "Отправитель" %}</a>
                                                    </th>
                                                {% endblock %}
                                                {% block pm_recipient_header %}
                                                    <th scope="col"><a
                                                            href="{% postman_order_by recipient %}">{% trans "Получатель" %}</a>
                                                    </th>
                                                {% endblock %}

                                                <th scope="col"><a
                                                        href="{% postman_order_by subject %}">{% trans "Тема" %}</a>
                                                </th>
                                                <th scope="col"><a href="{% postman_order_by date %}">
                                                    {% block pm_date %}{% trans "Дата" %}{% endblock %}</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for message in pm_messages %}
                                                <tr>
                                                    <th><input type="checkbox"
                                                               id="checkbox-{{ forloop.counter0 }}"
                                                            {% if by_conversation and message.thread_id %}
                                                               name="tpks" value="{{ message.thread_id }}"
                                                            {% else %}
                                                               name="pks" value="{{ message.pk }}"
                                                            {% endif %}/>
                                                        <label for="checkbox-{{ forloop.counter0 }}">&nbsp;</label>
                                                    </th>
                                                    {% block pm_sender_cell %}
                                                        <td>{{ message.obfuscated_sender|or_me:user }}
                                                            {% if message.count %} (
                                                                {{ message.count }}){% endif %}</td>{% endblock %}
                                                    {% block pm_recipient_cell %}
                                                        <td>{{ message.obfuscated_recipient|or_me:user }}
                                                            {% if message.count %}(
                                                                {{ message.count }}){% endif %}</td>{% endblock %}
                                                    <td>{% if message.is_new %}<strong>{% endif %}
                                                        {% if message.is_replied %}
                                                            <em>{% endif %}
                                                        {% block pm_subject %}
                                                            <a href="

















                                                                    {% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
                                                                {% include "postman/inc_subject_ex.html" %}
                                                            </a>
                                                        {% endblock %}
                                                        {% if message.is_replied %}</em>{% endif %}
                                                        {% if message.is_new %}
                                                            </strong>{% endif %}</td>
                                                    <td>{{ message.sent_at|date:"d.m.Y H:i" }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        {#                                            <table id="pm_messages" class="striped">#}
                                        {#                                                <thead>#}
                                        {#                                                <tr>#}
                                        {#                                                    <th>#}
                                        {#                                                        <input type="checkbox" id="id_toggle" onClick="toggle(this)">#}
                                        {#                                                        <label for="id_toggle"></label>#}
                                        {#                                                    </th>#}
                                        {#                                                    {% block pm_sender_header %}#}
                                        {#                                                    <th class="center-align">#}
                                        {#                                                        <a href="{% postman_order_by sender %}">{% trans "Отправитель" %}</a>#}
                                        {#                                                    </th>#}
                                        {#{% endblock %}#}
                                        {#                                                    {% block pm_recipient_header %}#}
                                        {#                                                    <th class="center-align">#}
                                        {#                                                        <a href="{% postman_order_by recipient %}">{% trans "Получатель" %}</a>#}
                                        {#                                                    </th>#}
                                        {#{% endblock %}#}
                                        {#                                                    <th class="center-align"><a#}
                                        {#                                                            href="{% postman_order_by subject %}">{% trans "Тема" %}</a>#}
                                        {#                                                    </th>#}
                                        {#                                                    <th class="center-align"><a href="{% postman_order_by date %}">#}
                                        {#                                                        {% block pm_date %}#}
                                        {#                                                        {% trans "Дата" %}#}
                                        {#                                                        {% endblock %}#}
                                        {#                                                    </a></th>#}
                                        {#                                                </tr>#}
                                        {#                                                </thead>#}
                                        {#                                                <tbody>{% for message in pm_messages %}#}
                                        {#                                                    <tr>#}
                                        {#                                                        <td><input type="checkbox"#}
                                        {#                                                                   id="checkbox-{{ forloop.counter0 }}"#}
                                        {#                                                                {% if by_conversation and message.thread_id %}#}
                                        {#                                                                   name="tpks" value="{{ message.thread_id }}"#}
                                        {#                                                                {% else %}#}
                                        {#                                                                   name="pks" value="{{ message.pk }}"#}
                                        {#                                                                {% endif %}/>#}
                                        {#                                                            <label for="checkbox-{{ forloop.counter0 }}">&nbsp;</label>#}
                                        {#                                                        </td>#}
                                        {#                                                        {% block pm_sender_cell %}#}
                                        {#                                                            <td>{{ message.obfuscated_sender|or_me:user }}#}
                                        {#                                                                {% if message.count %} (#}
                                        {#                                                                    {{ message.count }}){% endif %}</td>{% endblock %}#}
                                        {#                                                        {% block pm_recipient_cell %}#}
                                        {#                                                            <td>{{ message.obfuscated_recipient|or_me:user }}#}
                                        {#                                                                {% if message.count %}(#}
                                        {#                                                                    {{ message.count }}){% endif %}</td>{% endblock %}#}
                                        {#                                                        <td>{% if message.is_new %}<strong>{% endif %}#}
                                        {#                                                            {% if message.is_replied %}#}
                                        {#                                                                <em>{% endif %}#}
                                        {#                                                            {% block pm_subject %}#}
                                        {#                                                                <a href="#}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {##}
                                        {#                                                                        {% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">#}
                                        {#                                                                    {% include "postman/inc_subject_ex.html" %}#}
                                        {#                                                                </a>#}
                                        {#                                                            {% endblock %}#}
                                        {#                                                            {% if message.is_replied %}</em>{% endif %}#}
                                        {#                                                            {% if message.is_new %}#}
                                        {#                                                                </strong>{% endif %}</td>#}
                                        {#                                                        <td>{{ message.sent_at|date:"d.m.Y H:i" }}</td>#}
                                        {#                                                    </tr>{% endfor %}#}
                                        {#                                                </tbody>#}
                                        {#                                            </table>#}

                                        {% block pm_by_modes %}
                                            <div id="pm_by_modes">
                        <span class="pm_by_mode">Группировать: {% if by_message %}
                            <a href="{{ by_conversation_url }}">{% endif %}{% trans "по разговорам" %}
                            {% if by_message %}</a>{% endif %}</span>
                                                <span class="pm_by_mode">{% if by_conversation %}
                                                    <a href="{{ by_message_url }}">{% endif %}{% trans "по сообщениям" %}
                                                    {% if by_conversation %}
                                                        </a>{% endif %}</span>
                                            </div>{% endblock pm_by_modes %}

                                        {% block pm_form_buttons %}<span id="pm_buttons">
{% block pm_delete_button %}

    <button type="submit" class="btn btn-primary"
            onclick="this.form.action='{% url 'postman:delete' %}'">{% trans "Удалить" %}</button>{% endblock %}
                                            {% block pm_archive_button %}
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        onclick="this.form.action='{% url 'postman:archive' %}'">{% trans "Архивировать" %}</button>{% endblock %}
                                            {% block pm_undelete_button %}
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        onclick="this.form.action='{% url 'postman:undelete' %}'">{% trans "Восстановить" %}</button>{% endblock %}
                                            {% block pm_read_button %}
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        onclick="this.form.action='{% url 'postman:mark-read' %}'">{% trans "Отметить как прочитанное" %}</button>{% endblock %}
                                            {% block pm_unread_button %}
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        onclick="this.form.action='{% url 'postman:mark-unread' %}'">{% trans "Отметить как новое" %}</button>{% endblock %}
</span>{% endblock %}

                                    </form>

                                    <div class="row" style="margin-top: 15px">
                                        <div class="col">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.previous_page_number }}"
                                                               aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                                <span class="sr-only">Предыдущая</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                                <span class="sr-only">Предыдущая</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% for i in paginator.page_range %}
                                                        {% if page_obj.number == i %}
                                                            <li class="page-item active"><a class="page-link"
                                                                                            href="?page={{ i }}">{{ i }}</a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?page={{ i }}">{{ i }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if page_obj.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.next_page_number }}"
                                                               aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                                <span class="sr-only">Следующая</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                                <span class="sr-only">Следующая</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>


                                    {% paginate %}
                                {% else %}
                                    <p>{% trans "Нет сообщений." %}</p>
                                {% endif %}
                            {% endif %}
                            {% block pm_footer_info %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock content %}

{% block js %}
    <script>
        function toggle(source) {
            checkboxName = {% if by_conversation and message.thread_id %} "tpks" {% else %} "pks" {% endif %};
            {#            checkboxes = document.getElementsByName('/pks^/');#}
            checkboxes = document.querySelectorAll('[id^="checkbox-"]');
            console.log(checkboxes);
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                console.log(checkboxes[i]);
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock %}