{% extends "postman/base_folder.html" %}
{% load i18n %}
{% load i18n postman_tags %}
{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/user_profile/">Личный кабинет</a></li>
            <li class="breadcrumb-item"><a href="/messages/">Сообщения</a></li>
            <li class="breadcrumb-item"><a href="">Корзина</a></li>
        </ol>
    </nav>
{% endblock %}


{% block postman_menu %}
    {% postman_unread as unread_count %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'postman:inbox' %}">
                    {% trans "Входящие" %}
                    {% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}
                </a>
                <a class="nav-item nav-link" href="{% url 'postman:sent' %}">
                    {% trans "Отправленные" %}

                </a>
                <a class="nav-item nav-link" href="{% url 'postman:archives' %}">
                    {% trans "Архив" %}

                </a>
                <a class="nav-item nav-link active" href="{% url 'postman:trash' %}">{% trans "Корзина" %}<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'postman:write' %}">{% trans "Новое сообщение" %}</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block pm_folder_title %}{% trans "" %}{% endblock %}
{#{% block pm_folder_title %}{% trans "Корзина" %}{% endblock %}#}
{% block pm_delete_button %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_subject %}{# no link #}
    {% include "postman/inc_subject_ex.html" %}
{% endblock %}
{% block pm_footer_info %}
    <p>{% trans "Сообщения в этой папке могут быть удалены время от времени. Для долговременного хранения используйте папку архива." %}</p>
{% endblock %}