{% extends 'main/base.html' %}
{% load profile_extras %}


{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile:profile_main' %}">Личный кабинет</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile:orders' %}">Информация о заказах</a></li>
            <li class="breadcrumb-item"><a href="">Детальная информация о заказе {{ order.added }} № {{ order.id }}</a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="row">
        <div class="col">
            <table class="table table-avtoresurs bg-light">
                <thead class="thead-light">
                <tr>
                    <th><p class="text-center">Товар<br>(наименование)</p></th>
                    <th><p class="text-center">Количество<br>(шт.)</p></th>
                    <th><p class="text-center">Сумма<br>(<i class="fa fa-rub" aria-hidden="true"></i>)</p></th>
                </tr>
                </thead>
                <tbody>

                {% for op in order.orderproduct_set.all %}
                    <tr>
                        <td>
                            <p class="text-center">
                                <a href="/shop/product/{{ op.item.id }}/">{{ op.item.title }} {{ op.item }}</a>
                            </p>
                        </td>
                        <td><p class="text-center"><strong>{{ op.qty }}</strong></p></td>
                        <td><p class="text-center"><strong>{% multiply op.price op.qty %} <i class="fa fa-rub"
                                                                                             aria-hidden="true"></i></strong>
                        </p></td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="2"><p class="text-right">Итого: </p></th>
                    <th><p class="text-center"><span class="checkout">{{ order.order_total }}
                <i class="fa fa-rub" aria-hidden="true"></i></span></p></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}