{% extends 'main/base.html' %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile:profile_main' %}">Личный кабинет</a></li>
            <li class="breadcrumb-item"><a href="">Информация о заказах</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <table class="table table-hover table-avtoresurs">
        <thead class="thead-light">
        <tr class="table-light">
            <th scope="col">#</th>
            <th scope="col">Дата и номер заказа</th>
            <th scope="col">Товары</th>
            <th scope="col">Общая сумма заказа<br>(<i class="fa fa-rub" aria-hidden="true"></i>)</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order_list %}
            <tr class="table-light">
                <td>
                    <a href="{% url 'profile:order_detail' order.id %}">{{ forloop.counter0|add:page_obj.start_index }}</a>
                </td>
                <td>
                    <a href="{% url 'profile:order_detail' order.id %}">Заказ от {{ order.added }} № {{ order.id }}</a>
                </td>
                <td>
                    <a href="{% url 'profile:order_detail' order.id %}">
                        {% for op in order.orderproduct_set.all %}
                            <span>{{ forloop.counter }}. {{ op.item.title }} {{ op.item }} ({{ op.qty }} шт.)</span><br>
                        {% endfor %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'profile:order_detail' order.id %}">{{ order.order_total }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if is_paginated %}
        <div class="row" style="margin-top: 15px">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Предыдущая</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Предыдущая</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Следующая</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Следующая</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}

{% endblock %}