{% extends 'main/base.html' %}

{% block title %}Личный кабинет пользователя{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile:profile_main' %}">Личный кабинет</a></li>
        </ol>
    </nav>

{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-inverse bg-white" style="border-color: #aaa;">
                <div class="card-block">
                    <h3 class="card-title text-black">Здравствуйте, {{ request.user }}!</h3>
                    <p class="card-text text-black">Полное имя: {{ profile.fullname }}</p>
                    <p class="card-text text-black">Всего баллов: <strong>{{ profile.points }}</strong></p>
                    <p class="card-text text-black">Дата последнего визита:
                        <strong>{{ request.user.last_login|date:"d.m.Y H:i" }}</strong></p>
                    <a href="{% url 'profile:profile_edit' profile.pk %}"
                       class="btn btn-link text-uppercase text-orange no-padding-left text-left">Редактировать
                        информацию <br>о пользователе</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card card-inverse bg-light" style="border-color: #aaa;">
                <div class="card-block">
                    <h3 class="card-title text-black">Информация о заказах</h3>
                    <p class="card-text text-black">Всего заказов: <strong>{{ orders_count }}</strong></p>
                    <a href="{% url 'profile:orders' %}"
                       class="btn btn-link text-uppercase text-orange no-padding-left">История заказов</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-inverse bg-light" style="border-color: #aaa;">
                <div class="card-block">
                    <h3 class="card-title text-black">Личные сообщения</h3>
                    {% if postman_unread_count %}
                        <p class="card-text text-black">У Вас есть новые сообщения</p>
                    {% else %}
                        <p class="card-text text-black">Новых сообщений не поступало</p>
                    {% endif %}

                    <a href="{% url 'postman:inbox' %}" class="btn btn-link text-uppercase text-orange no-padding-left">
                        Перейтик к личным сообщениям
                        {% if postman_unread_count == 1 %}
                            <span class="badge badge-primary">{{ postman_unread_count }} новое</span>
                        {% elif postman_unread_count > 1 %}
                            <span class="badge badge-primary">{{ postman_unread_count }} новых</span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}