{% extends "base.html" %}
{% load i18n %}
{% block title %}Активация завершена{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot no-padding-left no-padding-right accr-breadcrumb">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 accr-gray">
                    <a href="/" class="breadcrumb">Главная</a>
                    <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
                    <a href="{% url 'registration_register' %}" class="breadcrumb">Регистрация</a>
                    <a href="" class="breadcrumb">Активация учетной записи завершена</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s8 offset-s2">
            Поздравляем! Активация Вашего аккаунта успешно завершена.<br>
            Теперь Вы можете войти в систему, используя имя пользователя и пароль, указанный при регистрации.<br>
            <a href='/accounts/login/'>Перейти к форме аутентификации на сайте.</a>
        </div>
    </div>

{% endblock %}
{#{% load i18n %}#}
{#{% block title %}{% trans "Activation complete" %}{% endblock %}#}
{#{% block content %}#}
{#    {% url 'auth_login' as auth_login_url %}#}
{#    {% blocktrans %}#}
{#        Thanks, activation complete!  You may now <a href='{{ auth_login_url }}'>login</a> using the username and#}
{#        password you set at registration.#}
{#    {% endblocktrans %}#}
{#{% endblock %}#}