{% extends "main/base.html" %}
{% load i18n %}

{% block title %}Аутентицикация{% endblock %}
{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/accounts/login/">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="">Выход</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col bg-light" style="padding: 8px 16px;">
            <p>Выход из аккаунта</p>
            <p>Вы успешно вышли из аккаунта!</p>
            <p><a href="/accounts/login/">Перейти к форме аутентификации</a></p>
        </div>
    </div>
{% endblock %}
