{% extends "main/base.html" %}
{% load i18n %}


{% block title %}Инструкции для восстановления пароля отправлены{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
            <a href="/accounts/password/reset/" class="breadcrumb">Восстановление доступа к аккаунту</a>
            <a href="" class="breadcrumb">Письмо отправлено</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>Восстановление пароля - Шаг № 2</p>
        </div>
    </div>

    <div class="row white">
        <div class="col s8 offset-s2">
            <p>E-mail с дальнейшими инструкциями по изменению пароля отправлен.</p>
            <p><a href="/">Вернуться на главную</a></p>
        </div>
    </div>

{% endblock content %}