{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Восстановление доступа к
                аккаунту</a>
            </li>
            <li class="breadcrumb-item"><a href="">Смена пароля завершена</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row avto-content">
        <div class="col bg-light">
            <p>{% trans "Поздравляем!" %}</p>
            <p>{% trans "Пароль успешно изменен." %}</p>

            <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
        </div>
    </div>



{% endblock %}