{% extends "main/base.html" %}
{% load i18n %}

{% block title %}Восстановление доступа к аккаунту{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Восстановление доступа к
                аккаунту</a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row avto-content">
        <div class="col-md-12 bg-light">
            <p>Восстановление пароля - Шаг № 1</p>
            <br>
            <p>Забыли пароль к учетной записи?</p>
            <p>Введите адрес электронной почты, указанный при регистрации, для получения дальнейших
                инструкций.</p>
        </div>
        <div class="col-md-12 form-group bg-light">
            <form action="." method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field">
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        <input id="id_email" maxlength="254" name="email" type="email" required="" class="form-control"
                               style="width: 100%">
                    </div>
                </div>
                <br>
                <div class="row">
                    <button class="btn btn-primary" type="submit" name="action">
                        Восстановить пароль
                    </button>
                </div>
                <p>Не пришло письмо для активации учетной записи? <a href="{% url 'main:account_reactivate' %}"
                                                                     class="btn btn-link">Активировать
                    повторно!</a></p>
            </form>
        </div>
    </div>

{% endblock %}