{% extends "main/base.html" %}
{% load i18n %}

{% block title %}Смена пароля{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Восстановление доступа к
                аккаунту</a>
            </li>
            <li class="breadcrumb-item"><a href="">Смена пароля</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>Восстановление пароля - Шаг № 3</p>
        </div>
    </div>

    <div class="row avto-content">
        <div class="col-md-12 bg-light">
            {% if  form.new_password2.errors %}
                <div class="row">
                    <div class="col-md-12">
                        <blockquote>{{ form.new_password2.errors }}</blockquote>
                    </div>
                </div>
            {% endif %}
            {% if validlink %}

                {{ form.message }}
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="{{ form.new_password1.id_for_label }}">Новый пароль:</label>
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Подтверждение нового пароля:</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" name="action">
                                Сменить пароль
                            </button>
                        </div>
                    </div>
                </form>

            {% else %}

                <p>{% trans "Password reset failed" %}</p>

            {% endif %}
        </div>
    </div>
{% endblock %}