{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot no-padding-left no-padding-right accr-breadcrumb">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 accr-gray">
                    <a href="/" class="breadcrumb">Главная</a>
                    <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
                    <a href="{% url 'auth_password_reset' %}" class="breadcrumb">Восстановление доступа к
                        аккаунту</a>
                    <a href="" class="breadcrumb">Смена пароля завершена</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}

    <p>{% trans "Поздравляем!" %}</p>
    <p>{% trans "Пароль успешно изменен." %}</p>

    <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}