{% extends "main/base.html" %}
{% load i18n %}


{% block title %}Инструкции для восстановления пароля отправлены{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Восстановление доступа к
                аккаунту</a>
            </li>
            <li class="breadcrumb-item"><a href="">Письмо отправлено</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row avto-content">
        <div class="col-md-12 bg-light">
            <p>Восстановление пароля - Шаг № 2</p>
            <p>E-mail с дальнейшими инструкциями по изменению пароля отправлен.</p>
            <p><a href="/">Вернуться на главную</a></p>
        </div>
    </div>


{% endblock content %}