{% extends "main/base.html" %}
{% load i18n %}

{% block title %}Восстановление доступа к аккаунту{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
            <a href="" class="breadcrumb">Восстановление доступа к аккаунту</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>Восстановление пароля - Шаг № 1</p>
        </div>
    </div>

    <div class="row white">
        <div class="row">
            <div class="col s8 offset-s2">
                <p>Забыли пароль к учетной записи?</p>
                <p>Введите адрес электронной почты, указанный при регистрации, для получения дальнейших
                    инструкций.</p>
            </div>
        </div>
        <div class="row">
            <form action="." class="col s12" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2 center-align">
                        <button class="btn waves-effect waves-light dark-blue" type="submit" name="action">
                            Восстановить пароль
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s8 offset-s2 center-align">
                Не пришло письмо для активации учетной записи? <a href="{% url 'main:account_reactivate' %}" class="link">Активировать
                повторно!</a>
            </div>
        </div>
    </div>

{% endblock %}