{% extends "base.html" %}
{% load i18n %}

{% block title %}Регистрация завершена! Проверьте свой e-mail{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot no-padding-left no-padding-right accr-breadcrumb">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 accr-gray">
                    <a href="/" class="breadcrumb">Главная</a>
                    <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
                    <a href="{% url 'registration_register' %}" class="breadcrumb">Регистрация успешно завершена</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col s8 offset-s2">
            Поздравляем! Регистрация успешно завершена. Пожалуйста проверьте свой e-mail, на него выслано
            письмо с дальнейшими инструкциями по активации учетной записи.
        </div>
    </div>

{% endblock %}