{% extends "main/base.html" %}
{% load i18n %}

{% block title %}Регистрация завершена! Проверьте свой e-mail{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Регистрация успешно завершена</a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col bg-light avto-content">
            <p>Поздравляем! Регистрация успешно завершена. Пожалуйста проверьте свой e-mail, на него выслано
                письмо с дальнейшими инструкциями по активации учетной записи.</p>
        </div>
    </div>

{% endblock %}