{% extends 'main/base.html' %}

{% block title %}Регистрация нового пользователя{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Регистрация нового
                пользователя</a>
            </li>
        </ol>
    </nav>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col bg-light avto-content">
            <form action="." class="col s12" method="post">
                <h5 class="center-align">Чтобы создать нового пользователя, пожалуйста заполните все поля:</h5>
                {% csrf_token %}

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                            <input autofocus="" id="id_username" maxlength="150" name="username" type="text" required=""
                                   class="form-control" style="width: 100%">
                            {% if form.username.errors %}
                                <blockquote>{{ form.username.errors }}</blockquote>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">E-mail:</label>
                            <input id="id_email" name="email" type="email" required="" style="width: 100%"
                                   class="form-control">

                            {% if form.email.errors %}
                                <blockquote>{{ form.email.errors }}</blockquote>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.message.id_for_label }}">Пароль:</label>
                            <input id="id_password1" name="password1" type="password" required="" class="form-control"
                                   style="width: 100%;">

                        </div>
                    </div>
                </div>

                <div class="row no-margin-bot">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
                            <input id="id_password2" name="password2" type="password" required="" class="form-control"
                                   style="width: 100%">

                            {% if form.password2.errors %}
                                <blockquote>{{ form.password2.errors }}</blockquote>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">

                            <label for="{{ form.tos.id_for_label }}">Согласен на обработку персональных данных,
                                предусмотренных
                                Федеральным
                                законом от 27.07.2006 № 152-ФЗ «О персональных данных».</label>
                        <input id="id_tos" name="tos" type="checkbox" required="" class="form-control">
                            {% if form.tos.errors %}
                                <blockquote>{{ form.tos.errors }}</blockquote>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary" type="submit" name="action">
                            Зарегистрироваться
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="row">
                <div class="col text-center">
                    <p>Забыли пароль?</p>
                    <p><a href="{% url 'auth_password_reset' %}" class="btn btn-link">Восстановить!</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>Не пришло письмо для активации учетной записи? </p>
                    <p><a href="{% url 'main:account_reactivate' %}" class="btn btn-link">Активировать повторно!</a></p>
                </div>
            </div>
        </div>
    </div>

    {#    {{ form.as_p }}#}

{% endblock content %}