{% extends 'main/base.html' %}

{% block title %}Повторная активация{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'auth_login' %}">Аутентификация</a></li>
            <li class="breadcrumb-item"><a href="{% url 'registration_register' %}">Регистрация нового
                пользователя</a></li>
            <li class="breadcrumb-item"><a href="">Повторная активация</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col bg-light avto-content">
            <div class="row">
                <div class="col">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class=" form-group">
                                <label for="{{ form.email.id_for_label }}">E-mail:</label>
                                <input id="id_email" name="email" type="email" required="" class="form-control"
                                       style="width: 100%">

                                {% if form.email.errors %}
                                    <blockquote>{{ form.email.errors }}</blockquote>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" type="submit" name="action">
                                Выслать повторно
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    Забыли пароль? <a href="{% url 'auth_password_reset' %}" class="btn btn-link">Восстановить!</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}