{% extends 'base.html' %}

{% block title %}Повторная активация{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
            <a href="{% url 'registration_register' %}" class="breadcrumb">Регистрация нового
                пользователя</a>
            <a href="" class="breadcrumb">Повторная активация</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row white">
        <div class="col s12">
            <p>Повторная активация. Ввод e-mail</p>
        </div>
    </div>

    <div class="row white">
        <div class="col s8 offset-s2">
            <form action="" method="post">
                <p>Пожалуйста, введите Ваш e-mail:</p>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        {% if form.email.errors %}
                            <blockquote>{{ form.email.errors }}</blockquote>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2 center-align">
                        <button class="btn waves-effect waves-light dark-blue" type="submit" name="action">
                            Выслать повторно
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 center-align">
            Забыли пароль? <a href="{% url 'auth_password_reset' %}" class="link">Восстановить!</a>
        </div>
    </div>
{% endblock %}