{% extends 'base.html' %}

{% block title %}Повторная активация{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot no-padding-left no-padding-right accr-breadcrumb">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 accr-gray">
                    <a href="/" class="breadcrumb">Главная</a>
                    <a href="{% url 'auth_login' %}" class="breadcrumb">Аутентификация</a>
                    <a href="{% url 'registration_register' %}" class="breadcrumb">Регистрация нового
                        пользователя</a>
                    <a href="" class="breadcrumb">Повторная активация</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s8 offset-s2">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        {% if form.email.errors %}
                            <blockquote>{{ form.email.errors }}</blockquote>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 offset-s2 center-align">
                        <button class="btn waves-effect waves-light coral" type="submit" name="action">
                            Выслать повторно
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 center-align">
            Забыли пароль? <a href="{% url 'auth_password_reset' %}">Восстановить!</a>
        </div>
    </div>
{% endblock %}