{% extends 'main/base.html' %}

{% block title %}Ассортимент{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="" class="breadcrumb">Ассортимент</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row white">
        <div class="col s12">
            <div class="main-content">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">

                    <tbody>
                    <tr>
                        <td valign="top" class="text10">
                            <ul>
                                <li>аккумуляторы</li>
                                <li>детали подвески</li>
                                <li>детали двигателя</li>
                                <li>детали трансмиссии, коробки передач , сцепления</li>
                                <li>фильтры</li>
                                <li>шрусы ,приводные валы,полуоси</li>
                                <li>прокладки двигателя, сальники</li>
                                <li>тормозные колодки и накладки , тормозные системы</li>
                                <li>гидравлика тормозная и сцепления</li>
                                <li>тормозные диски и барабаны</li>
                            </ul>
                        </td>
                        <td valign="top" class="text10">
                            <ul>
                                <li>электрика и электроника</li>
                                <li>детали топливной системы и впрыска топлива</li>
                                <li>ремни приводные , ГРМ</li>
                                <li>троса сцепления , ручного тормоза, спидометра</li>
                                <li>подшипники</li>
                                <li>системы охлаждения</li>
                                <li>оптика акцессуары и.т.д</li>
                                <li>детали системы охлаждения двигателя</li>
                                <li>пневмоподушки, пневмосистемы</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="border-bottom: 1px solid rgb(204, 204, 204);" colspan="2"
                            class="capt12b_or"><strong>Производители:</strong></td>
                    </tr>
                    <tr>
                        <td width="50%" valign="top" class="text10_6">
                            <ul>
                                <li><span class="text10_3">FIAMM <a href="http://www.fiamm.it">www.fiamm.it</a></span>
                                </li>
                                <li><span class="text10_3">Beru</span> <a href="http://www.beru.de" target="_blank">www.beru.de</a>
                                </li>
                                <li>BOSCH <a href="http://www.bosch.de" target="_blank">www.bosch.de</a></li>
                                <li><span class="text10_3">CORTECO</span> <a href="http://www.corteco.com"
                                                                             target="_blank">www.corteco.com</a></li>
                                <li>CEI <a href="http://www.cei.it" target="_blank">www.cei.it</a></li>
                                <li><span class="text10_3">Contitech</span> <a href="http://www.contitech.de"
                                                                               target="_blank">www.contitech.de</a></li>
                                <li>Delphi <a href="http://www.delphi.com" target="_blank">www.delphi.com</a></li>
                                <li><span class="text10_3">DONALDSON</span> <a href="http://www.emea.donaldson.com"
                                                                               target="_blank">www.emea.donaldson.com</a>
                                </li>
                                <li>ELRING <a href="http://www.elring.de" target="_blank">www.elring.de</a></li>
                                <li><span class="text10_3">FEBI</span> <a href="http://www.febi.com" target="_blank">www.febi.com</a>
                                </li>
                                <li>Filtron <a href="http://www.wixfiltron.com.pl"
                                               target="_blank">www.wixfiltron.com.pl</a></li>
                                <li><span class="text10_3">Freccia</span> <a href="http://www.freccia.com"
                                                                             target="_blank">www.freccia.com</a></li>
                                <li>FOMAR Borg Automotive <a href="http://www.fomar.com.pl" target="_blank">www.fomar.com.pl</a>
                                </li>
                                <li><span class="text10_3">Federal Mogul</span> <a href="http://www.federal-mogul.com"
                                                                                   target="_blank">www.federal-mogul.com</a>
                                </li>
                                <li>GKN SPIDAN <a href="http://www.gkndriveline.com" target="_blank">www.gkndriveline.com</a>
                                </li>
                                <li><span class="text10_3">HELLA</span> <a href="http://www.hella.com" target="_blank">www.hella.com</a>
                                </li>
                                <li>LESJOFORS <a href="http://www.lesjoforsab.com"
                                                 target="_blank">www.lesjoforsab.com</a></li>
                                <li><span class="text10_3">SASIC</span> <a href="http://www.sasic.com" target="_blank">www.sasic.com</a>
                                </li>
                                <li>Vernet <a href="http://www.vernert.fr" target="_blank">www.vernert.fr</a></li>
                                <li><span class="text10_3">LE.MA</span> <a href="http://www.lema-parts.it"
                                                                           target="_blank">www.lema-parts.it</a></li>
                                <li>MAHLE <a href="http://www.mahle-aftemarket.com" target="_blank">www.mahle-aftemarket.com</a>
                                </li>
                                <li><span class="text10_3">OSRAM</span> <a href="http://www.osram.de" target="_blank">www.osram.de</a>
                                </li>
                                <li>RUVILLE <a href="http://www.ruville.de" target="_blank">www.ruville.de</a></li>
                                <li>JAPANPARTSwww.japanparts.eu</li>
                            </ul>
                        </td>
                        <td width="50%" valign="top" class="text10_6">
                            <ul>
                                <li><span class="text10_3">SENSA autofren</span> <a href="http://www.seinsa.es"
                                                                                    target="_blank">www.seinsa.es</a>
                                </li>
                                <li>TRW Lucas <a href="http://www.trwauto.com" target="_blank">www.trwauto.com</a></li>
                                <li><span class="text10_3">WABCO</span> <a href="http://www.wabco-auto.com"
                                                                           target="_blank">www.wabco-auto.com</a></li>
                                <li>WAHLER <a href="http://www.wahler.de" target="_blank">www.wahler.de</a></li>
                                <li><span class="text10_3">LEMFORDER</span> <a href="http://www.zf.com" target="_blank">www.zf.com</a>
                                </li>
                                <li>VALEO <a href="http://www.valeoservice.com" target="_blank">www.valeoservice.com</a>
                                </li>
                                <li><span class="text10_3">ADRIAUTO</span> <a href="http://www.adriauto.it"
                                                                              target="_blank">www.adriauto.it</a></li>
                                <li>Hanse Pries <a href="http://www.pries.de" target="_blank">www.pries.de</a></li>
                                <li><span class="text10_3">COMPLEX</span> <a href="http://www.complexmetal.com"
                                                                             target="_blank">www.complexmetal.com</a>
                                </li>
                                <li>Peters <a href="http://www.peqvality.com" target="_blank">www.peqvality.com</a></li>
                                <li><span class="text10_3">LPR</span> <a href="http://www.lpr.it" target="_blank">www.lpr.it</a>
                                </li>
                                <li>EPS <a href="http://www.eps-autoparts.com" target="_blank">www.eps-autoparts.com</a>
                                </li>
                                <li><span class="text10_3">MAGNETTI MARELLI</span> <a
                                        href="http://www.magnetimarelli.net" target="_blank">www.magnetimarelli.net</a>
                                </li>
                                <li>MEAT&amp; DORIA <a href="http://www.meat-doria.com" target="_blank">www.meat-doria.com</a>
                                </li>
                                <li><span class="text10_3">OPTIBELT</span> <a href="http://www.optibelt.de"
                                                                              target="_blank">www.optibelt.de</a></li>
                                <li>SOFIMA <a href="http://www.sofima.it" target="_blank">www.sofima.it</a></li>
                                <li><span class="text10_3">TES</span> <a href="http://www.tes.pl" target="_blank">www.tes.pl</a>
                                </li>
                                <li>AUGER <a href="http://www.augerautotechnik.de" target="_blank">www.augerautotechnik.de</a>
                                </li>
                                <li><span class="text10_3">PIERBURG</span> <a href="http://www.msi-motor-service.com"
                                                                              target="_blank">www.msi-motor-service.com</a>
                                </li>
                                <li>FAG <a href="http://www.fag-automotive-after-market.com" target="_blank">www.fag-automotive-after-market.com</a>
                                </li>
                                <li><span class="text10_3">ATE</span> <a href="http://www.contiteves-am.com"
                                                                         target="_blank">www.contiteves-am.com</a></li>
                                <li>GMB <a href="http://www.gmb.jp" target="_blank">www.gmb.jp</a></li>
                                <li><span class="text10_3">KYB</span> <a href="http://www.kyb-europe.com"
                                                                         target="_blank">www.kyb-europe.com</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="border-top: 1px solid rgb(204, 204, 204);" colspan="2" class="text10">
                            <p><strong>Внимание!</strong> Ассортимент постоянно обновляется и пополняется, поэтому
                                приведенный выше список может быть не полным. <br>
                                За справками обращайтесь по т.: <strong>(8-0112) 51-49-53</strong> или по e-mail :
                                <strong><a href="mailto:%20avtoresurs@mail.ru">avtoresurs@mail.ru</a></strong></p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}