{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Для автосервисов{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="" class="breadcrumb">Для автосервисов</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row white">
        <div class="col s12">
            <div class="main-content">
                <p><img src="{% static 'main/images/service_stations.jpg' %}" alt=""></p>
                <p>Мы рады сообщить всем нашим клиентам из числа сервисных станций, что в
                    этом 2009 году мы начинаем развивать программу диагностического оборудования и инструментов для
                    автосервисов. Много лет совместной работы и партнёрства помогают нам прекрасно понимать сложность и
                    проблемы развития независимых автосервисов.Мы хотим искренне помочь Вам в развитии вашего бизнеса.
                    Большинство современных автомобилей требуют специального оборудования для своего обслуживания,
                    ремонта, и диагностики. Сегодня все мы с вами играем очень важную роль для всего транспорта нашего
                    региона. Эта роль очень ответственная, а задачи очень сложные и мы знаем, какие задачи мы решаем и
                    хотим решить.Так же, как современный врач, не имеет возможности точно определить и вылечить болезнь
                    своего больного пациента без специального оборудования и лекарств, так и мы не можем качественно
                    решить сложные технические проблемы, постоянно изменяющегося парка автомобилей, без специальных
                    диагностических приборов, профессионального оборудования и инструментов, без квалифицированных
                    специалистов и качественных запасных частей и материалов для ремонта.</p>

                <p>
                    На этой станице нашего сайта мы предлагаем Вам ознакомится с предложениями на специальное и
                    диагностическое оборудование, ручной инструмент, который вы можете приобрести в нашей фирме по
                    специальным ценам и на выгодных условиях.
                </p>
            </div>
        </div>
    </div>
{% endblock %}