{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Запчасти для грузовиков{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="" class="breadcrumb">Запчасти для грузовиков</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row white">
        <div class="col s12">
            <div class="main-content">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                    <tr>
                        <td valign="top"><img height="154" border="0" width="196"
                                              src="{% static 'main/images/truck.gif' %}" class="lightbox" alt=""><br>
                            <br>
                            <img height="220" border="0" width="196" class="img" src="{% static 'main/images/truck2.jpg' %}"
                                 alt=""><br>
                            <br>
                            <img height="147" border="0" width="196" class="img" src="{% static 'main/images/truck3.jpg' %}"
                                 alt=""></td>
                        <td width="100%" valign="top">
                            <p class="capt12b_or"><strong>Перечень основных групп поставляемых запчастей.</strong></p>
                            <ul><span class="capt12b"><strong>Детали запчастей:</strong></span>
                                <li>амортизаторы;</li>
                                <li>шкворня;</li>
                                <li>рулевые тяги, рулевые наконечники;</li>
                                <li>сайлентблоки;</li>
                                <li>пневморессоры;</li>
                                <li>крестовины;</li>
                                <li>подшипники и др.</li>
                            </ul>
                            <ul><span class="capt12b"><strong>Детали двигателя:</strong></span>
                                <li>ремни приводные;</li>
                                <li>прокладки двигателя, сальники;</li>
                                <li>термостаты;</li>
                                <li>муфты сцепления ветелятора;</li>
                                <li>ремкомплекты водных помп;</li>
                                <li>маслосъемные колпачки;</li>
                                <li>кольца поршнеые;</li>
                                <li>поршни, гильзы цилиндров и др.</li>
                            </ul>
                            <ul><span class="capt12b"><strong>Фильтры:</strong></span>
                                <li>масла;</li>
                                <li>топлива;</li>
                                <li>воздуха;</li>
                                <li>гидравлических систем;</li>
                                <li>КПП;</li>
                                <li>пневма систем.</li>
                            </ul>
                            <ul><span class="capt12b"><strong>Тормозные системы:</strong></span>
                                <li>тормозные колодки;</li>
                                <li>накладки тормозных колодок;</li>
                                <li>тормозные диски;</li>
                                <li>саморегуляторы тормозных валов;</li>
                                <li>ремкомплекты и др.</li>
                            </ul>
                            <ul><span class="capt12b"><strong>Сцепления:</strong></span>
                                <li>комплекты сцепления;</li>
                                <li>корзины сцепления;</li>
                                <li>диски сцепления;</li>
                                <li>выжимные подшипники;</li>
                                <li>гидравлика сцепления.</li>
                            </ul>
                        </td>
                        <td valign="top"><img height="576" border="0" width="75" class="img"
                                              src="{% static 'main/images/logos.gif' %}" alt=""></td>
                        <td valign="top"></td>
                        <td valign="top">
                            <table cellspacing="3" cellpadding="3" border="0" align="center" class="capt12bi">
                                <tbody>
                                <tr>
                                    <td align="center"><img height="158" border="0" width="230"
                                                            src="{% static 'main/images/truck4.jpg' %}" class="lightbox"
                                                            alt=""></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" class="capt12b">Запчасти на грузовые автомобили,
                                        <br>
                                        прицепы, полуприцепы и автобусы.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><img height="174" border="0" width="200"
                                                                            src="{% static 'main/images/powersuppler.gif' %}"
                                                                            class="lightbox" alt=""></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><img height="183" border="0" width="205"
                                                                            src="{% static 'main/images/auto_logos.gif' %}"
                                                                            class="lightbox" alt=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}