{% load sekizai_tags %}
{% load staticfiles %}
{% block custom_css %}
    {% include "main/plugins/light_slider.html" %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <style>
        .slider-btn {
            width: 50px;
            height: 300px;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            top: 0;
            padding-top: 137px;
            opacity: 0.5;
            font-size: 17pt;
            color: #1F3EFC;
        }
        .slider-btn :hover {
            background-color: #EBEFF0;
        }
        .prev-btn {
            left: 4px;
        }
        .next-btn {
            right: 4px;
        }
    </style>
{% endblock custom_css %}
{% include 'main/plugins/brands_lent.html' %}
<div>
    <div class="container-fluid">
        <div style="background-color: white; margin: 20px;">
            <div class="row">
                <div class="col-sm" style="color: darkblue;">
                    <br/>
                    <span style="margin-left: 10px; ">Магазины</span>
                </div>
                <div class="col-sm">

                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 center-align text-center">
                    <ul id="lightSlider">
                        {% for shop in shops %}
                            <li style="background-color: white" id="shop{{ forloop.counter0 }}">
                                <img width="400px" height="300px" src="{{ shop.image.url }}" alt="{{ shop.name }}"/>
                                <div style="margin: 5px;">
                                    {#                                                                        {{ shop.lat }}, {{ shop.lon }}<br/>#}
                                    {{ shop.shedule }}<br/>
                                    {{ shop.address }}<br/><br/>
                                    <i>{{ shop.phones }}</i><br/>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                    <div id="goToPrevSlide" class="slider-btn prev-btn align-middle lg-prev lg-icon">
                        <i style="" class="fa fa-chevron-left"></i>
                    </div>
                    <div id="goToNextSlide" class=" slider-btn next-btn lg-next lg-icon">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    {#                    <button class="prevBtn" type="button" id="goToPrevSlide">Prev</button>#}
                    {#                    <button type="button" id="goToNextSlide">Next</button>#}
                </div>
            </div>
            <div style="margin: 17px; background-color: white; padding: 20px;">
                <div id="map" style="height: 400px; margin: 11px;"></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);

        function init() {
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчнию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [54.707658, 20.507212],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 12
            });


            var lightSlider = $("#lightSlider").lightSlider({
                item: 3,
                autoWidth: false,
                slideMove: 1, // slidemove will be 1 if loop is true
                slideMargin: 0,
                controls: false,
                pager: false
            });

            $('#goToPrevSlide').on('click', function () {
                lightSlider.goToPrevSlide();
                console.log(lightSlider.item);
            });
            $('#goToNextSlide').on('click', function () {
                lightSlider.goToNextSlide();
            });




            {% for shop in shops %}
                $( "#shop{{ forloop.counter0 }}" ).click(function() {
                    myMap.panTo(
                        [["{{ shop.lat|stringformat:'f' }}","{{ shop.lon|stringformat:'f' }}"]],
                        {
                            duration: 1000,
                            checkZoomRange: true
                        }
                    );
                    console.log("{{ shop.lat|stringformat:'f' }}");
                });

                var myPlacemark = new ymaps.Placemark([{{ shop.lat|stringformat:"f" }}, {{ shop.lon|stringformat:"f" }}], {
                    // Хинт показывается при наведении мышкой на иконку метки.
                    hintContent: '{{ shop.address }}',
                    // Балун откроется при клике по метке.
                    balloonContent: '{{ shop.name }}'
                });

                // После того как метка была создана, ее
                // можно добавить на карту.
                myMap.geoObjects.add(myPlacemark);
            {% endfor %}

        }
    });
</script>