{% extends 'main/base.html' %}

{% block title %}Корзина{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shop:shop_index' %}">Интернет-магазин</a></li>
            <li class="breadcrumb-item"><a href="">Корзина</a></li>
        </ol>
    </nav>
{% endblock %}


{% block content %}

    <!-- Main content -->
    <div class="row">
        <div class="col">
            {% if object.cartitem_set.count < 1 %}

                {% include "shop/empty_cart.html" %}

            {% else %}
                <form action="/cart" method="post" class="">
                    <table class="table table-avtoresurs bg-light">
                        <thead class="thead-light">
                        <tr>
                            <th>Товар</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Итого</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for storage, items in cart_storages.items %}
                            <tr class="bg-primary-avtoresurs">
                                <th colspan="5" class="text-center text-light">{{ storage }}</th>
                            </tr>
                            {% for item in items %}
                                <tr class="cart-item-{{ item.item.id }}">
                                    <td>
                                        <p class="item_type">
                                            <span>Производитель:</span> <strong>{{ item.item.brand }}</strong>
                                        </p>
                                        <p class="item_vendor"><span>Название:</span>
                                            <strong>{{ item.item.title }}</strong></p>
                                        <p class="item_vendor"><span>Код детали:</span>
                                            <strong>{{ item.item.get_sku }}</strong></p>
                                        <p><a href="{{ item.item.get_absolute_url }}" class="text-primary">Перейти к
                                            описанию</a></p>
                                    </td>
                                    <td>
                                        <p class="center-align"><span class="money">{{ item.item.price }} <i
                                                class="fa fa-rub" aria-hidden="true"></i></span></p>
                                    </td>
                                    <td>
                                        <form action="." method="GET">
                                            <input type="hidden" name="item" value="{{ item.item.id }}">
                                            <input class="item-qty quantity_input center-align" name="qty"
                                                   value="{{ item.quantity }}" type="number" min="1">
                                            <input type="hidden" name="storage" id="storage"
                                                   value="{{ storage.id }}">
                                            {#                                    <span class="quantity_modifier quantity_down"><i class="fa fa-minus"></i></span>#}
                                            {#                                    <span class="quantity_modifier quantity_up"><i class="fa fa-plus"></i></span>#}
                                        </form>
                                    </td>
                                    <td>
                                        <p class="center-align">
                                <span class="money"><span
                                        id="item-line-total-{{ item.item.id }}">{{ item.line_item_total }}</span> <i
                                        class="fa fa-rub" aria-hidden="true"></i></span>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="center-align">
                                            <a class="cart_item__remove" title="1"
                                               href="{{ item.item.remove_from_cart }}&storage={{ item.storage.id }}"><i
                                                    class="fa fa-trash fa-2x"></i></a>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        {#                    <tr class="cart_buttons">#}
                        {#                        <td colspan="5">#}
                        {##}
                        {##}
                        {#                        </td>#}
                        {#                    </tr>#}
                        <tr>
                            <td class="text-center">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    <a class="btn btn-link" href="javascript:history.back()"><i class="fa fa-arrow-left"
                                                                             aria-hidden="true"></i> Вернуться к
                                        покупкам</a>
                                </p>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td colspan="3">
                                <p class="text-right">
                                    Итоговая сумма
                                    <span class="money">
                                <span id="subtotal">{{ object.subtotal }} <i class="fa fa-rub"
                                                                             aria-hidden="true"></i></span></span>
                                </p>
                                <p>&nbsp;</p>

                                {#                                    <button name="checkout" class="btn btn-alt">#}
                                <a href="{% url 'checkout' %}" class="btn btn-primary pull-right text-white">Перейти к
                                    оформлению
                                    заказа
                                </a>
                                {#                                    </button>#}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            {% endif %}


        </div>
    </div>

{% endblock content %}



{% block js %}
    <script>
        $('.item-qty').change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            {#        alert(item);#}
            var qty = $(this).val();
            var storage = $('#storage').val();
            console.log(storage);
            var data = {
                item: item,
                qty: qty,
                storage: storage
            };
            {#            console.log(data);#}
            $.ajax({
                type: "GET",
                url: "{% url 'cart' %}",
                data: data,
                success: function (data) {
                    {#                    console.log(data)#}
                    $('#jquery-message').text("Added " + data.item_added + " Deleted " + data.deleted);
                    if (data.deleted) {
                        $(".cart-item-" + item).fadeOut();
                        {#                $(alert("cart-item-" + item));#}
                        $("#subtotal").text(data.subtotal);
                    } else {
                        $("#item-line-total-" + item).text(data.line_total);
                        $("#subtotal").text(data.subtotal);
                    }

                    if (data.total_items == 0) {
                        $("#cart_content").fadeOut();
                        var template = "{% include 'shop/empty_cart.html' %}";
                        $(".main-content").html(template);
                    }
                    updateCartItemCount();
                    {#                    showFlashMessage(data.flash_message);#}
                },
                error: function (response, error) {
                    {#                    console.log(response);#}
                    {#                    console.log(error);#}
                    $('#add-form').submit();
                }
            })
        });
    </script>
{% endblock %}
