{% extends 'main/base.html' %}

{% block title %}Оформление заказа завершено!{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'shop:shop_index' %}" class="breadcrumb">Интернет-магазин</a>
            <a href="/cart/" class="breadcrumb">Корзина</a>
            <a href="/checkout/" class="breadcrumb">Оформление заказа</a>
            <a href="/checkout/success/" class="breadcrumb">Завершено!</a>
        </div>
    </div>
{% endblock %}

{% block content %}


    <!-- Main content -->
    <div class="row white">
        <div class="col s12">
            <p>Оформление заказа завершено!</p>
        </div>
    </div>

    <div class="row">
        <div class="col m12 l6 offset-l3 white">
            <p>Оформление заказа успешно завершено!</p>
            <p>Наш менеджер свяжется с Вами в ближайшее время</p>
            <p><a href="/">Перейти на главную страницу сайта</a></p>

{% endblock %}