{% extends 'main/base.html' %}

{% block title %}Оформление заказа завершено!{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shop:shop_index' %}">Интернет-магазин</a></li>
            <li class="breadcrumb-item"><a href="/cart/">Корзина</a></li>
            <li class="breadcrumb-item"><a href="/checkout/">Оформление заказа</a></li>
            <li class="breadcrumb-item"><a href="">Завершено!</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}


    <!-- Main content -->
    <div class="row">
        <div class="col bg-white">
            <p>Оформление заказа завершено!</p>
        </div>
    </div>

    <div class="row">
        <div class="col bg-white">
            <p>Оформление заказа успешно завершено!</p>
            <p>Наш менеджер свяжется с Вами в ближайшее время</p>
            <p><a href="/">Перейти на главную страницу сайта</a></p>
        </div>
    </div>

{% endblock %}