{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'shop:shop_index' %}" class="breadcrumb">Интернет-магазин</a>
            <a href="" class="breadcrumb">{{ product.title }} {{ product|upper }}</a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Header -->
    {#    <div class="row card-panel blue-grey lighten-3">#}
    {#        <div class="col s12">#}
    {#            <h5 class="white-text">{{ product.title|title }}</h5>#}
    {#        </div>#}
    {#    </div>#}

    <!-- Main content -->

    <div class="row card-panel z-depth-0">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        <img src="{{ product.images.0 }}" alt="" class="responsive-img materialboxed"
                             data-caption="{{ product|upper }}">

                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn dark-blue center-align" href="#modal1">Описание</a>
                    </div>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>{{ product.title }} {{ product|upper }}</h4>

                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s6"><a href="#tab1" class="blue-text">Параметры</a>
                                        </li>
                                        <li class="tab col s6"><a href="#tab2" class="blue-text">Применимость</a></li>
                                    </ul>
                                </div>
                                <div id="tab1" class="col s12">
                                    {% if product.part_criteria %}
                                        {% for pc in product.part_criteria %}
                                            <p>{{ pc.text1 }}: <strong>{{ pc.text2 }}</strong></p>
                                        {% endfor %}
                                    {% else %}
                                        <p>Описание отсутствует</p>
                                    {% endif %}
                                </div>
                                <div id="tab2" class="col s12">
                                    {% if product.car_types %}
                                        <table class="striped">
                                            <thead>
                                            <tr>
                                                <th data-field="id">МОДЕЛЬ</th>
                                                <th data-field="name">МОДИЦИКАЦИЯ</th>
                                                <th data-field="price">ДВИГАТЕЛЬ</th>
                                                <th data-field="price">МОЩНОСТЬ</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for car in product.car_types %}
                                                <tr>
                                                    <td>{{ car.mfa_brand }} {{ car.mod_cds_text }}</td>
                                                    <td>{{ car.typ_cds_text }}</td>
                                                    <td>{{ car.eng_code }} {{ car.typ_fuel_des_text }}</td>
                                                    <td>{{ car.typ_hp_from }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    {% else %}
                                        <p>Описание отсутствует</p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class=" modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        <p class="flow-text" style="margin-top: 0;">Производитель: <span
                                class="blue-text"><strong>{{ product.brand|upper }}</strong></span>
                        </p>
                        <p class="flow-text">Название: <span
                                class="blue-text"><strong>{{ product.title|upper }}</strong></span>
                        </p>
                        <p class="flow-text">Код детали: <span
                                class="blue-text"><strong>{{ product.sku|upper }}</strong></span>
                        </p>
                        <p class="flow-text">Количество на складе: <span
                                class="blue-text"><strong>{{ product.get_quantity }}</strong></span></p>

                        {% if product.price != product.default_price %}
                            <p class="flow-text green-text"><strong>Ваша цена: <span
                                    class="blue-text">{{ product.price }}</span></strong>
                            </p>
                            <p class="flow-text red-text">Розничная цена: <span
                                    class="blue-text">{{ product.default_price }}</span>
                            </p>
                        {% else %}
                            <p class="flow-text">Цена: <span
                                    class="blue-text"><strong>{{ product.price }}</strong></span>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <form method="GET" action="{% url 'cart' %}" id="add-form" class="form-inline">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Введите количество товара" id="id_qty" type="number"
                                       class="validate center-align" name="qty"
                                       value="1" style="font-weight: bold; font-size: 1.5em;">
                                <label for="first_name">Количество</label>
                            </div>
                        </div>

                        <div class="row center-align">
                            <div class="col s12">
                                <input type="hidden" name="item" value="{{ object.id }}">
                                <button class="btn waves-effect waves-light dark-blue" type="submit"
                                        name="action" id="submit-btn">В корзину
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col s12">
            <div class="collection tecdoc-table row card-panel z-depth-0 no-border">
                <div class="collection-item">
                    <div class="row">
                        <div class="col s1 tecdoc-header">№ п/п</div>
                        <div class="col s2 tecdoc-header">Артикул</div>
                        <div class="col s2 tecdoc-header">Производитель</div>
                        <div class="col s5 tecdoc-header">Название</div>
                        <div class="col s1 tecdoc-header">Кол-во</div>
                        <div class="col s1 tecdoc-header">Цена</div>
                    </div>
                </div>
                {% for part_analog in part_analogs %}
                    {% if part_analog.product_id %}
                        <a href="{% url 'shop:product_detail' part_analog.product_id %}" class="collection-item">
                    {% else %}
                        <div class="collection-item noactive">
                    {% endif %}

                <div class="row no-margin-bot">
                    <div class="col s1">{{ forloop.counter }}</div>
                    <div class="col s2">{{ part_analog.sku }}</div>
                    <div class="col s2">{{ part_analog.supplier }}</div>
                    <div class="col s5">{{ part_analog }}</div>
                    <div class="col s1">
                        <strong>
                            {{ part_analog.quantity }}
                        </strong>
                    </div>
                    <div class="col s1">
                        <strong>
                            {% if part_analog.price > 0 %}
                                {{ part_analog.price }}
                            {% else %}
                                -
                            {% endif %}
                        </strong>
                    </div>
                </div>
                {% if part_analog.product_id %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>



{% endblock %}

{% block js %}
    <script>
        $('#submit-btn').click(function (event) {
            event.preventDefault();
            var formData = $('#add-form').serialize();
            console.log(formData);
            $.ajax({
                type: "GET",
                url: "{% url 'cart' %}",
                data: formData,
                success: function (data) {
                    console.log(data)
                    {#                    $('#jquery-message').text("Added " + data.item_added + " Deleted " + data.deleted);#}
                    showFlashMessage(data.flash_message);
                    updateCartItemCount();
                },
                error: function (response, error) {
                    console.log(response);
                    console.log(error);
                    $('#add-form').submit();
                }
            })
            {#            $('#add-form').submit;#}
        });
    </script>

    <script>
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });

    </script>
{% endblock %}