{% extends 'main/base.html' %}

{% block title %}Поиск{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="{% url 'shop:shop_index' %}" class="breadcrumb">Интернет-магазин</a>
            <a href="" class="breadcrumb">Поиск</a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <h5 class="card-panel z-depth-0">Поиск осуществлен по фразе: {{ q }}</h5>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="collection tecdoc-table row card-panel z-depth-0 no-border">
                <div class="collection-item">
                    <div class="row">
                        <div class="col s1 tecdoc-header">№ п/п</div>
                        <div class="col s2 tecdoc-header">Артикул</div>
                        <div class="col s2 tecdoc-header">Производитель</div>
                        <div class="col s5 tecdoc-header">Название</div>
                        <div class="col s1 tecdoc-header">Описание</div>
                        <div class="col s1 tecdoc-header">Ссылка</div>
                    </div>
                </div>
                {% for part in part_list %}
                    <div class="collection-item-part">
                        {#                    <a href="{% url 'shop:search_detail' %}?{{ part.url }}"#}
                        {#                       class="collection-item">#}
                        <div class="row no-margin-bot">
                            <div class="col s1">{{ forloop.counter }}</div>
                            <div class="col s2">{{ part.part_number }}</div>
                            <div class="col s2">{{ part.supplier.title }}</div>
                            <div class="col s5">{{ part.title }} {{ part.supplier }} {{ part.part_number }}</div>
                            <div class="col s1">
                                <img class="materialboxed" width="35px" src="{{ part.image }}">
                            </div>
                            <div class="col s1"><a href="{% url 'shop:search_detail' %}?{{ part.url }}" class="secondary-content"><i class="material-icons">send</i></a></div>
                        </div>
                        {#                    </a>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}