{% extends 'main/base.html' %}

{% block title %}Поиск{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shop:shop_index' %}">Интернет-магазин</a></li>
            <li class="breadcrumb-item"><a href="">Поиск</a></li>
        </ol>
    </nav>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="bg-light">Поиск осуществлен по фразе: {{ q }}</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <h3 class="bg-light">Аккумуляторы</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-avtoresurs bg-light">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for battery in batteries %}
                    {% if battery.quantity < 0 %}
                        <tr class="no-product">
                            <th>{{ forloop.counter }}</th>
                            <td> {{ battery.sku }}</td>
                            <td>{{ battery.brand }}</td>
                            <td>Аккумулятор {{ battery.brand }} {{ battery.sku }}</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% else %}
                        <tr class="{% if battery.total_quantity == 0 %}product-zero{% else %}product{% endif %}">
                            <th scope="row">
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    {{ forloop.counter }}
                                </a>
                            </th>
                            <td>
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    {{ battery.sku }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    {{ battery.brand }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    Аккумулятор {{ battery.brand }} {{ battery.sku }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    {{ battery.total_quantity }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'shop:product_detail' battery.id %}">
                                    {{ battery.get_price }}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h3 class="bg-light">Запчасти</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-avtoresurs bg-light">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                </tr>
                </thead>
                <tbody>
                {% for part in part_list %}
                    <tr>
                        <th>
                            <a href="{% url 'shop:search_detail' %}?{{ part.url }}">
                                {{ forloop.counter }}
                            </a>
                        </th>
                        <td>
                            <a href="{% url 'shop:search_detail' %}?{{ part.url }}">
                                {{ part.part_number }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'shop:search_detail' %}?{{ part.url }}">
                                {{ part.supplier.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'shop:search_detail' %}?{{ part.url }}">
                                {{ part.title }} {{ part.supplier }} {{ part.part_number }}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'shop:search_detail' %}?{{ part.url }}">
                                <img class="img-responsive" width="35px" src="{{ part.image }}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}