{% extends 'main/base.html' %}

{% block title %}Предложения для {{ brand }} {{ part_number }}{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shop:shop_index' %}">Интернет-магазин</a></li>
            <li class="breadcrumb-item"><a href="">Поиск</a></li>
        </ol>
    </nav>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="bg-light">Аналоги-заменители для {{ brand }} {{ part_number }}</h3>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <table class="table table-hover table-avtoresurs bg-light">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for part in partproduct_list %}
                    <tr>
                        <th>
                            {% if part.product_id %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ forloop.counter }}
                                </a>
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        </th>
                        <td>
                            {% if part.product_id %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ part.part_number }}
                                </a>
                            {% else %}
                                {{ part.part_number }}
                            {% endif %}
                        </td>
                        <td>
                            {% if part.product_id %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ part.supplier }}
                                </a>
                            {% else %}
                                {{ part.supplier }}
                            {% endif %}
                        </td>
                        <td>
                            {% if part.product_id %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ part.title }} {{ part.supplier }} {{ part.part_number }}
                                </a>
                            {% else %}
                                {{ part.title }} {{ part.supplier }} {{ part.part_number }}
                            {% endif %}
                        </td>
                        <td>
                            {% if part.quantity > -1 %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ part.quantity }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if part.price > -1 %}
                                <a href="{% url 'shop:product_detail' part.product_id %}">
                                    {{ part.price }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}