{% extends 'main/base.html' %}

{% load staticfiles %}

{% block custom_css %}
    <style>
        .content {
            padding: 0;
            background-image: url("{% static 'main/images/back-cat.jpg' %}");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    {#    <div class="row">#}
    {#        <div class="col s12 nav-breadcrumb white">#}
    {#            <a href="/" class="breadcrumb">Главная</a>#}
    {#            <a href="/shop" class="breadcrumb">Интернет-магазин</a>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}
{% block content %}


    <div id="overlay"></div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto1">
            <div class="link link1"><a href="/parts/">ОБЩИЙ КАТАЛОГ</a></div>
            <div class="w-100"></div>
            <div class="link link2"><a href="silk">АККУМУЛЯТОРЫ <br>FIAMM</a></div>
            <div class="link link3"><a href="silk">ГОФРЫ ГЛУШИТЕЛЕЙ</a></div>
        </div>
        <div class="col-md-auto2">
            <div class="link link1"><a href="silk">ОРИГИНАЛЬНЫЕ КАТАЛОГИ</a></div>
            <div class="link link2"><a href="silk">АВТОМОБИЛЬНЫЕ ЛАМПЫ <br>M-Tech</a></div>
            <div class="link link3"><a href="silk">АТОХИМИЯ/МАСЛА</a></div>
        </div>

    </div>
{% endblock %}