{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row no-margin-bot">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="/shop" class="breadcrumb">Интернет-магазин</a>
        </div>
    </div>
{% endblock %}
{% block content %}


    <!-- Header -->
    {#    <div class="row card-panel blue-grey lighten-3">#}
    {#        <div class="col s12">#}
    {#            <h5 class="white-text">Онлайн каталог запчастей</h5>#}
    {#        </div>#}
    {#    </div>#}

    <!-- Main content -->
    <div class="row card-panel z-depth-0">
        <div class="col s4 offset-s2">
            <blockquote>
                Поиск по наименованию/номеру детали
            </blockquote>
            <div class="row">
                <form action="search/" class="col s12">
                    <div class="input-field">
                        <input placeholder="Введите название детали" id="q" type="text" class="validate" name="q"
                               required>
                        <label for="q">Номер детали</label>
                    </div>
                    <button class="btn waves-effect waves-light lighten-blue" type="submit">
                        Поиск по базе
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col s4 hoverable">
            <blockquote>
                Выбор детали по каталогу
            </blockquote>
            <a href="/parts">
                <img class="responsive-img" src="{% static 'main/images/autoparts.jpg' %}">
            </a>
        </div>
    </div>
{% endblock %}