{% load sekizai_tags %}
{% load staticfiles %}
{% block custom_css %}
    <style>
        .assortment {
            background-image: url({% static 'assortment/i/back-assort.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 900px;
        }
    </style>
{% endblock custom_css %}

<div class="assortment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-white">
                <br/>
                <span style="margin-left: 17px; ">Ассортимент</span>
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
        <br/>
        <div class="row">
            {% for item in items %}

                <div class="col-sm center-align text-center">
                    <a href="{{ item.url }}" target="_blank">
                        <img src="/media/{{ item.image }}" alt="{{ item.title }}"/>
                    </a>
                    <br/><br/>
                </div>

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br/><br/><br/>
            </div>
        </div>
    </div>
</div>
