{% load staticfiles %}

<ul class="list-inline3">
    <li class="list-inline-goods goods-header" id="tovar">
        <div class="row">
            <div class="col col-sm-12">
                <p>Поступление товара</p>
            </div>
        </div>
    </li>
    {% for good in goods %}
        <li class="list-inline-goods" id="tovar">
        <a href="{{ post.get_absolute_url }}" id="link">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="{{ post.image.url }}" class="img-fluid goods-receipt" alt="Responsive image">
                </div>
                <div class="col col-sm-9">

                        {{ post.title }}

                </div>
            </div>
        </a>
        </li>
    {% endfor %}
</ul>