{% load menu_tags %}

{% for child in children %}
    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        <li class="list-inline-item2">{{ child.get_menu_title }}</li>
    </a>
    {% if child.children %}
        {% for child in child.children %}
            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                <li class="list-inline-item2">{{ child.get_menu_title }}</li>
            </a>
        {% endfor %}
    {% endif %}
{% endfor %}


