{% load menu_tags %}

{% for child in children %}

    <li class="list-inline-item2">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" id="link">
            {{ child.get_menu_title }}
        </a>
    </li>

    {% if child.children %}
        {% for child in child.children %}
            <li class="list-inline-item2">
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" id="link">
                    {{ child.get_menu_title }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
{% endfor %}


