{% load staticfiles %}

<div class="proposal">
    <a href="{{ instance.url }}">
        <div class="row">
            <div class="col col-sm-12 proposal-row-1" class="proposal-row-1">
                <p class="text-center">{{ instance.caption }}</p>
                <p class="text-center">{{ instance.brand }}</p>
                <p class="text-center">{{ instance.sku }}</p>
            </div>
        </div>
        <div class="row proposal-row-2" style="background-image: url({{ instance.image.url }});">
            <div class="col col-sm-12"></div>
        </div>
    </a>
</div>


{#<img src="{{ instance.image.url }}" class="img-fluid pict1" alt="Responsive image">#}
