{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block breadcrumbs %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col s12 nav-breadcrumb white">
            <a href="/" class="breadcrumb">Главная</a>
            <a href="" class="breadcrumb">О компании</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row white">
        <div class="col s12">
            <div class="main-content">
                <p>История нашей компании берёт своё начало, в октябре 2002 года. Тогда в условиях жёсткой конкуренции,
                    в
                    сфере
                    торговли авто-запчастями, мы смогли доказать право на жизнь, и уверенно начали завоёвывать хорошую
                    репутацию, и
                    постоянных клиентов, с которыми работаем и по сей день.


                </p>
                <p>Наши цены придутся по вкусу, как оптовику, так и розничному покупателю. А вежливые и, безусловно,
                    квалифицированные продавцы-консультанты ответят на любой вопрос и помогут подобрать нужную деталь
                    для
                    Вашего
                    автомобиля. Также наши сотрудники имеют отличное представление о сервисном обслуживании, что,
                    безусловно,
                    поможет при решении Вашей проблемы.</p>
                <p>
                    Система постоянных поставок от наших партнеров, крупнейших фирм Европы. Позволяют нам иметь склад с
                    отличным
                    ассортиментом и постоянным наличием деталей высокого качества и по конкурентной цене.
                    Наш ассортимент пополняется каждые 10 дней, а для срочных работ существует экспресс-достака любых
                    авто-запчастей
                    в срок не более 48 часов. Существует и ещё один приятный "плюс" в сотрудничестве с нами. Мы
                    предлагаем
                    на Ваш
                    выбор, как оригинальные запчасти, так и "аналоги" т.е. детали от производителей, которые работают на
                    вторичный
                    рынок авто-запчастей, и имеют более низкую цену. Помните, ассортимент, и цены предлагаемых нами
                    товаров
                    будут
                    интересны разным категориям покупателей!
                </p>
                <p>
                    Торговый оборот фирмы постоянно и стабильно растет. Мы имеем собственную сеть наших дистрибьюторов в
                    регионе и
                    планомерно эту сеть расширяем.
                </p>
                <p>
                    Основные поставщики : Delphi Product & Servise Solutions, Herman Peters, Hanse Pries, Fomar Borg
                    Automotive,
                    Herth + Buss, ATE Teves, Japanparts, Clean filters,Dolz, Vernet , FIAMM, Mapco,Complex, Elring
                    Klinger
                    ,Mahle.
                    Особое внимание мы удeляем нашим постоянным клиентам – автосервисам и магазинам автомобильных
                    запчастей.
                    Мы предлагаем нашим постоянным клиентам специальные условия работы, индивидуальный подход,
                    значительные
                    скидки и
                    доставку товара непосредственно клиенту в самые кратчайшие сроки. При этом мы используем собственный
                    транспорт.
                    Также мы оказываем помошь в организации работы с запасными частями и проводим технические семинары
                    совместно с
                    нашими поставщиками для частных автосервисов. В семинарах принимают участие ведущие специалисты
                    фабрик-партнеров. С нами удобно и приятно работать!


                </p>
                <p>Особое внимание мы удиляем качеству предлагаемых нами товаров. Большинство запчастей от наших
                    поставщиков
                    вы
                    можете найти на вашем автомобиле, как оригинальные, установленые заводом изготовителем вашего
                    автомобиля. Вся
                    продукция предлагаемая нами имеет сертификаты качества и соответствия России и Европы.</p>
                <p></p>
                <p>
                    Для экстренных случаев мы предоставляем услугу быстрой доставки нужной авто-запчасти непосредственно
                    на
                    сервис,
                    где вы ремонтируете свой автомобиль. Конечно, мы не забыли о постоянных клиентах! Индивидуальный
                    подход
                    к
                    каждому клиенту и персональные 10% карты скидок (от розничной цены), несомненно, придутся Вам по
                    вкусу.
                </p>
                <p><strong>И, будьте уверенны - попав к нам, вы обязательно найдёте то, что искали!</strong></p>
                <div class="row">
                    <div class="col s2 offset-s1"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i1.jpg' %}">
                    </div>
                    <div class="col s2"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i2.jpg' %}"></div>
                    <div class="col s2"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i3.jpg' %}"></div>
                    <div class="col s2"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i4.jpg' %}"></div>
                    <div class="col s2"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i5.jpg' %}"></div>
                </div>
                <div class="row">
                    <div class="col s2 offset-s1"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i6.jpg' %}">
                    </div>
                    <div class="col s2"><img class="materialboxed" width="100%" src="{% static 'main/images/pages/about/i7.jpg' %}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}