{% extends 'base.html' %}


{% block title %}Главная Авторесурс. Добро пожаловать!{% endblock title %}

{% block content %}

    <div class="section no-pad-bot">
        <div class="container">
            <h2 class="center blue-text">Компания Авторесурс</h2>
            <h4 class="center blue-grey-text">Добро пожаловать</h4>
        </div>
    </div>
    <div class="container">
        <!-- BREADCRUMBS -->
        {#        <div class="row">#}
        {#            <nav>#}
        {#                <div class="nav-wrapper">#}
        {#                    <div class="col s12 teal lighten-2">#}
        {#                        <a href="/" class="breadcrumb">Главная</a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </nav>#}
        {#        </div>#}
        <!-- Header -->

        <!-- Main content -->
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <h4 class="blue-text darken-4">Новости</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card sticky-action large hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img"
                             src="http://avtoresurs.net/UserFiles/image/img529e31c21c2d2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Поступление деталей подвески и тормозной системы фирмы DELPHI<i
                                class="material-icons right">more_vert</i></span>

                        {#                        <p><a href="#!">Ссылка здесь</a></p>#}
                    </div>

                    <div class="card-action">
                        <a href="#">Ссылка</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Поступление деталей подвески и тормозной системы фирмы DELPHI<i
                                class="material-icons right">close</i></span>
                        <p>Поступление деталей подвески и тормозной системы фирмы DELPHI</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card sticky-action large hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img"
                             src="http://avtoresurs.net/UserFiles/image/img55eff61f65437.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER SPORT<i
                                class="material-icons right">more_vert</i></span>

                        {#                        <p><a href="#!">Ссылка здесь</a></p>#}
                    </div>

                    <div class="card-action">
                        <a href="#">Ссылка</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER SPORT<i
                                class="material-icons right">close</i></span>
                        <p>Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER
                            SPORT</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card sticky-action large hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img"
                             src="http://avtoresurs.net/UserFiles/image/img529e31c21c2d2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Поступление деталей подвески и тормозной системы фирмы DELPHI<i
                                class="material-icons right">more_vert</i></span>

                        {#                        <p><a href="#!">Ссылка здесь</a></p>#}
                    </div>

                    <div class="card-action">
                        <a href="#">Ссылка</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Поступление деталей подвески и тормозной системы фирмы DELPHI<i
                                class="material-icons right">close</i></span>
                        <p>Поступление деталей подвески и тормозной системы фирмы DELPHI</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card sticky-action large hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img"
                             src="http://avtoresurs.net/UserFiles/image/img55eff61f65437.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER SPORT<i
                                class="material-icons right">more_vert</i></span>

                        {#                        <p><a href="#!">Ссылка здесь</a></p>#}
                    </div>

                    <div class="card-action">
                        <a href="#">Ссылка</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4">Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER SPORT<i
                                class="material-icons right">close</i></span>
                        <p>Поступление деталей подвески, ступичных подшипников , ШРУС-ов. фильтров фирмы MASTER
                            SPORT</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}