{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Главная Авторесурс. Добро пожаловать!{% endblock title %}

{% block content %}

    <div class="row white" style="margin-top: 20px; padding-top: 10px">
        <div class="col s7">
            <div class="slider">
                <ul class="slides">
                    {% for slide in slides %}
                    <li class="waves-effect waves-block waves-light">
                        <img src="{{ slide.image.url }}">
                        <div class="caption center-align">
                            <h3>{{ slide.caption }}</h3>
                            <h5 class="light grey-text text-lighten-3">{{ slide.text }}</h5>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col s5">
            <h4 style="opacity: 0.7">Мы - команда профессионалов!</h4>
            <hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0,0,0,.1);">
            <p>История нашей компании берёт своё начало, в октябре 2002 года. Тогда в условиях жёсткой конкуренции, в
                сфере торговли авто-запчастями, мы смогли доказать право на жизнь, и уверенно начали завоёвывать хорошую
                репутацию, и постоянных клиентов, с которыми работаем и по сей день. Не смотря на относительно юный
                возраст компании “АВТОРЕСУРС”, наши сотрудники имеют достаточно богатый (свыше 15 лет) опыт работы в
                сфере торговли авто-запчастями.</p>
            <p><a class="waves-effect waves-light btn dark-blue" href="about">О компании</a></p>
        </div>
    </div>

    <hr style="margin-top: 2rem; margin-bottom: 2rem; border: 0; border-top: 1px solid rgba(0,0,0,.1);">

    <div class="row">
        {% for post in news %}
            {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row">
            {% endif %}

            <div class="col s6 m4">
                <div class="card large z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="{{ post.image.url }}">
                    </div>
                    <div class="card-content">
                        <p>{{ post.title }}</p>
                        <p><strong>{{ post.added.day|stringformat:"02d" }}.{{ post.added.month|stringformat:"02d" }}.{{ post.added.year|stringformat:"02d" }}</strong></p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn dark-blue" href="#modal{{ forloop.counter }}">Подробнее</a>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal{{ forloop.counter }}" class="modal">
                <div class="modal-content">
                    <h4>{{ post.title }}</h4>
                    <p><img src="{{ post.image.url }}"></p>
                    <p>{{ post.content }}</p>
                    <p><strong>{{ post.added.day|stringformat:"02d" }}.{{ post.added.month|stringformat:"02d" }}.{{ post.added.year|stringformat:"02d" }}</strong></p>
                </div>
                <div class="modal-footer">
                    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.slider').slider({full_width: true});
        });
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

    </script>
{% endblock %}