@logo-color: #d72240;
@default-margin: 7%;
@def-font-size: 19pt;

.bonus-price {
    font-size: @def-font-size;
    font-weight: 600;
    cursor: pointer;
    color: @logo-color;
}

#bonus-price{
  font-size: @def-font-size;
  color: darkcyan;
}

.bonus-app .card {
  cursor: pointer;
  height: 560px;
}

.bonus-app  .card-image {
  margin: @default-margin;
  cursor: pointer;
}

.card-footer {
  position: absolute;
  right:0;
  bottom: 0;
}