.bonus-price {
  font-size: 19pt;
  font-weight: 600;
  cursor: pointer;
  color: #d72240;
}
.bonus-app .card {
  cursor: pointer;
  height: 560px;
}
.bonus-app .card-image {
  margin: 7%;
  cursor: pointer;
}
.card-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}
