/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@color_input_text: #3f51b5;

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* label color */
//.input-field label {
//  color: @color_input_text;
//}

.input-field input[type=text], .input-field input[type=number] {
  color: @color_input_text;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=number]:focus + label {
  color: @color_input_text;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=number]:focus {
  border-bottom: 1px solid @color_input_text;
  box-shadow: 0 1px 0 0 @color_input_text;
}

/* valid color */
.input-field input[type=text].valid, .input-field input[type=number].valid {
  border-bottom: 1px solid @color_input_text;
  box-shadow: 0 1px 0 0 @color_input_text;
}

.tecdoc-table > .row > .col > a, .tecdoc-table > a > * {
  color: #0288d1;
}

.tecdoc-table * {
  //background-color: white;
  color: #0288d1;
}

.tecdoc-table .tecdoc-header {
  color: #757575;
  font-weight: bold;
}

.tecdoc-table > .row {
  //margin-bottom: 0;
}

.collapsible {
  box-shadow: none;
  border: none;
}

#tecdoc-table {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  border-top: 1px solid #ddd;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
  border-right: 1px solid #ddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(221, 221, 221);
  border-left: 1px solid #ddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(221, 221, 221);
  background-color: white;
}

a.collection-item:hover * {
  //transition: top 5s ease-out 5.5s;
  color: #212121;
  //font-weight: bold;
}

.noactive div {
  color: #9e9e9e;
}

.no-margin-bot {
  margin-bottom: 0 !important;
}